In [1]:
import numpy as np
import pandas as pd

In [2]:
# Seed gera um numero aleatorio que permanessa com valor igual em qualquer PC
np.random.seed(101)

### <br>Criar um DataFrame

In [5]:
df = pd.DataFrame(np.random.randn(4, 5), index = '1 2 3 4'.split(), columns = 'A B C D E'.split())

In [6]:
df

          A         B         C         D         E
1  0.302665  1.693723 -1.706086 -1.159119 -0.134841
2  0.390528  0.166905  0.184502  0.807706  0.072960
3  0.638787  0.329646 -0.497104 -0.754070 -0.943406
4  0.484752 -0.116773  1.901755  0.238127  1.996652

### <br>Inserir uma nova Coluna

In [32]:
df['sum_C_E'] = df['E'] + df['C']

In [33]:
df

          A         B         C         D         E   sum_C_E
1  0.302665  1.693723 -1.706086 -1.159119 -0.134841 -1.840927
2  0.390528  0.166905  0.184502  0.807706  0.072960  0.257462
3  0.638787  0.329646 -0.497104 -0.754070 -0.943406 -1.440510
4  0.484752 -0.116773  1.901755  0.238127  1.996652  3.898407

### <br>Deletando Coluna

In [40]:
# 1- Modo UM
df = df.drop('sum_C_E', axis=1) # AXIS = 1 deleta a coluna, AXIS = 0 deleta linha

          A         B         C         D         E
1  0.302665  1.693723 -1.706086 -1.159119 -0.134841
2  0.390528  0.166905  0.184502  0.807706  0.072960
3  0.638787  0.329646 -0.497104 -0.754070 -0.943406
4  0.484752 -0.116773  1.901755  0.238127  1.996652

In [41]:
# 2 - Modo Dois
df.drop('sum_C_E', axis=1, inplace=True)

In [42]:
df

          A         B         C         D         E
1  0.302665  1.693723 -1.706086 -1.159119 -0.134841
2  0.390528  0.166905  0.184502  0.807706  0.072960
3  0.638787  0.329646 -0.497104 -0.754070 -0.943406
4  0.484752 -0.116773  1.901755  0.238127  1.996652

### <br>Localizar Valor do DataFrame

Diferente do slice que existe no SERIES, o DF possui um metodo para encontrar valores expecíficos

<br>Ex: Método LOC()

In [52]:
# Seleciona o dado a través das chaves
df.loc['2', 'C']

0.18450185928224264

<br>Ex: Método iloc()

In [56]:
# Seleciona os dados através de seus elementos, semelhante ao slice do Series
df.iloc[1:4, 2:]

          C         D         E
2  0.184502  0.807706  0.072960
3 -0.497104 -0.754070 -0.943406
4  1.901755  0.238127  1.996652